<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>


    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis amet
        officiis nesciunt similique veniam! Debitis nesciunt eligendi dicta
        delectus soluta eum, provident atque voluptatibus doloremque? Atque
        ipsum porro sed. Adipisci?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum
        earum minus odio porro labore quis soluta voluptates accusantium magni.
        Harum reiciendis tenetur vero saepe, quis perspiciatis adipisci nisi
        aspernatur!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quasi,
        rem accusantium blanditiis asperiores odit eveniet deleniti quas natus
        assumenda, labore vel, aliquid sint sed laborum deserunt harum magni
        vitae!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
